albumentations==2.0.8
augly==1.0.0
aum==1.0.2
imagecorruptions==1.1.2
keras==3.12.0
matplotlib==3.10.8
nrtk==0.26.0
numpy==1.26.4
opencv-python==4.5.5.64
opencv-python-headless==3.4.18.65
pandas==2.2.2
pillow==10.4.0
plotly==6.5.0
scikit-image==0.25.2
scikit-learn==1.5.2
scipy==1.14.1
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1